{% comment %} <h1>Order Products</h1>
<h2>{{ note }}</h2>

<form action="{% url 'placeorders' %}" method = "post">
    {% csrf_token %}
        {{formset.management_form}}

        {% for form in formset %}
        {{ form }}
        <br></br>
        {% endfor %}
        <input type="submit" value="Orders Products">
</form>

<br></br>

<table>
    <tr>   
        <th>Name</th>
        <th>Details</th>
        <th>Amount in Package</th>
        <th>Price</th>
    </tr>
    {% for item in product_info %}
    <tr> 
        <td>{{ item.productName }}</td>
        <td>{{ item.specifications }}</td>
        <td>{{ item.packSize }}</td>
        <td>{{ item.productPrice }}</td>
    </tr>
    {% endfor %}
</table> {% endcomment %}
