{% comment %} <h1>Select a Product and Quantity</h1>

<h2>{{ note }}</h2>


<form action="{% url 'placeorder' %}" method="post">
    {% csrf_token %}
    {{ orderform }}
    <input type="submit" value ="Order Product">
</form>

<br><br>
Want more than one Product?
<form action="{% url 'placeorders' %}" method="get">
    {% csrf_token %}
    {{ multiple_form }}
    <input type ="submit" value ="Get Products">
</form>

<br><br>

<table>
    <tr>   
        <th>Name</th>
        <th>Details</th>
        <th>Amount in Package</th>
        <th>Price</th>
    </tr>
    {% for item in product_info %}
    <tr> 
        <td>{{ item.productName }}</td>
        <td>{{ item.specifications }}</td>
        <td>{{ item.packSize }}</td>
        <td>{{ item.productPrice }}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<a href="https://forms.office.com/Pages/ResponsePage.aspx?id=d5b8boJWQEe7CgaWFyi5oRfYc-naQEZAmEhCmNQzUFNUQkZRMjRLNDNVNlo4QzVSWjZDSEtZTDgxNS4u">Can't Find What You're Looking for? Request Here</a>
 {% endcomment %}
